<div class="bracelet-container">
    <h2><i class='bx bx-watch'></i> Gestion des Bracelets</h2>
    <div *ngIf="loading">Chargement...</div>
    <div *ngIf="error" class="error">{{ error }}</div>
    <div class="bracelet-list" *ngIf="!loading && !error">
      <div *ngIf="bracelets.length === 0" class="empty-list">Aucun bracelet trouvé.</div>
      <div class="bracelet-card" *ngFor="let bracelet of bracelets">
        <div class="bracelet-logo">
          <img src="https://static.vecteezy.com/ti/vecteur-libre/p3/17590482-montre-smartwatch-tracker-illustrationle-de-dessin-anime-vectoriel.jpg" alt="Bracelet Logo" >
        </div>
        <div class="bracelet-id">
          <i class='bx bx-barcode'></i>
          <span>{{ bracelet.id }}</span>
        </div>
        <div class="bracelet-status" [class.active]="bracelet.etat == 1" [class.inactive]="bracelet.etat == 0">
          <i class='bx bx-check-circle' *ngIf="bracelet.etat == 1"></i>
          <i class='bx bx-block' *ngIf="bracelet.etat == 0"></i>
          {{ bracelet.etat == 1 ? 'Actif' : 'Inactif' }}
        </div>
        <div class="bracelet-actions">
          <button class="btn-action btn-green" (click)="activate(bracelet.id)">
            <i class='bx bx-power-on'></i> Activer
          </button>
          <button class="btn-action btn-orange" (click)="deactivate(bracelet.id)">
            <i class='bx bx-power-off'></i> Désactiver
          </button>
          <button class="btn-action btn-red" (click)="reset(bracelet.id)">
            <i class='bx bx-refresh'></i> Réinitialiser
          </button>
        </div>
      </div>
    </div>
  </div>
  